<form ng-submit="newRoCtrl.addNew()"  name="new_ro">
  <label for="name">Name</label>
  <input
    type="text"
    name="name"
    ng-model="newRoCtrl.name"
    required="required"
    minlength="4"/>

  <label for="description">Description</label>
  <input
    type="textarea"
    name="description"
    ng-model="newRoCtrl.description"
    required="required"
    minlength="10"/>

    <label for="start_date">Start Date</label>
    <input type="date" name="start_date" ng-model="newRoCtrl.start_date">

  <label for="end_date">End Date</label>
  <input type="date" name="end_date" ng-model="newRoCtrl.end_date">
  <button type="submit">Add New</button>


</form>

<div class="col-md-2" ng-messages="new_ro.name.$error" ng-if="new_ro.name.$dirty">
  <div ng-message="required">Name is Required!</div>
  <div ng-message="minlength">Must be more than 4 characters!</div>
</div>

<div class="col-md-2" ng-messages="new_ro.description.$error" ng-if="new_ro.description.$dirty" >
  <div ng-message="required">Description is Required!</div>
  <div ng-message="minlength">Must be more than 10 characters!</div>
</div>
