
<div class="panel-default">
  <div class="panel-heading">
    <h1>Routines</h1>
    <h5 class="inline-header">Currently Showing {{roiCtrl.filteredRoutines.length}} routines</h5>
    <div class="search pull-right">
      Search: <input ng-model="roiCtrl.search" ng-change="roiCtrl.refilter()" />
      <a href="" ng-click="roiCtrl.pastfilter()">Past Routines</a>
    </div>
  </div>

  <div class="panel-body">
    <table class="table table-striped">
        <thead>
          <tr>
            <th>
             Name
            </th>
            <th>
              Description
            </th>
            <th>
              Start Date
            </th>
            <th>
              End Date
            </th>
          </tr>
        </thead>


      <tr ng-repeat="routine in roiCtrl.filteredRoutines" routine-table-row user="roiCtrl.user" routines=roiCtrl.filteredRoutines routine="routine"></tr>
    </table>
  </div>
</div>

<new-ro-component routines=roiCtrl.filteredRoutines></new-ro-component>
