<h1>Your Routines</h1>
<div class="pull-right">
  Search: <input ng-model="roiCtrl.search" ng-change="roiCtrl.refilter()" />
  <a href="" ng-click="roiCtrl.pastfilter()">Past Routines</a>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th>
         Name
        </th>
        <th>
          Description
        </th>
        <th>
          End Date
        </th>
      </tr>
    </thead>


  <tr ng-repeat="routine in roiCtrl.filteredRoutines" routine-table-row user="roiCtrl.user" routine="routine"></tr>
</table>

<new-ro-component routines=roiCtrl.filteredRoutines></new-ro-component>
