.transparent-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.inline-header {
  display: inline;
}

.c-links {
  color: #fff;
}

.nav-bg {
  background-color: #383838;
}

.navbar {
  background-color: #383838;
}

.navbar-full {
  background-color: #383838;
}

.btn {
  background-color: #383838;
  color: #fff;
  margin-left: 2px;
}
