.transparent-input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.inline-header {
  display: inline;
}

.c-links {
  color: #fff;
}

.navbar-full {
  background-color: #8B0000;
}

.navbar {
  border-radius: 0px;
}

.navbar-nav{
  float: right;
  margin-right: 10px;
  vertical-align: middle;
}

.grit-icon {
  display: inline-flex;
  border-right: 1px #fff solid;
  padding: 5px;
  width: 85px;
  height: 85px;

}
.btn {
  background-color: #8B0000;
  color: #fff;
  margin-left: 2px;
  width: 50%;
}
