<!DOCTYPE html>
<html>
  <head>
    <title>Gritize</title>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body ng-app="gritize">
     <div ng-include="'navigation/_nav.html'"></div>
    <ui-view></ui-view>
  </body>
</html>
